language: python
sudo: required

matrix:
  include:
    - dist: trusty
      env: dist="14.04 LTS trusty"
    - dist: xenial
      env: dist="16.04 LTS xenial"

env:
  global:
    - COMMIT=${TRAVIS_COMMIT::8}

virtualenv:
  system_site_packages: true

before_install:
  - sudo apt-get -qq update
  - sudo DEBIAN_FRONTEND=noninteractive apt-get -y install ansible libffi-dev libssl-dev

# installation
install:
  - cd ansible; sudo ansible-playbook -i "localhost," -c local -v install.yml; cd ..

# run tests
script:
  # run unit tests
  - sudo py.test -v mininet/test/test_containernet.py
  # build docker container (also checks in-docker installation)
  - docker build -t containernet/containernet:$COMMIT .

notifications:
  email:
    on_success: change
    on_failure: always
